# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.myPortfolio.V.1.0.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Asus\Desktop\htmlProjects\myPortfolio.V.1.0\.idea\.idea.myPortfolio.V.1.0.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
